<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tangxb.pay.hero">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!-- 设置Glide缓存目录 -->
        <meta-data
            android:name="com.tangxb.pay.hero.glide.MGlideModule"
            android:value="GlideModule" />
        <!-- 友盟相关 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL_VALUE"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterUserActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.UserMangerActivity" />
        <activity android:name=".activity.EditUserInfoActivity" />
        <activity android:name=".activity.GoodsMangerActivity" />
        <activity android:name=".activity.GoodsEditorActivity" />
        <activity android:name=".activity.PermissionMangerActivity" />
        <activity android:name=".activity.PermissionMangerDistributeActivity" />
        <activity android:name=".activity.GoodsCategoryMangerActivity" />
        <activity android:name=".activity.EditUserPwdActivity" />
        <activity android:name=".activity.UserCenterActivity" />
        <activity android:name=".activity.OrderManagerActivity" />
        <activity android:name=".activity.OrderInfoActivity" />
        <activity
            android:name=".activity.GoodsCategoryActivity"
            android:launchMode="singleTask" />

        <!-- 相机和安装包权限都需要改配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- authorities="你的包名+fileprovider" -->
    </application>

</manifest>